<!DOCTYPE html>
<html>
<head>
	<title>Me</title>
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

	<style type="text/css">
		body, html {
			margin: 20px;
			color: white;
			background: #bfd2bf;
			position: relative;
			font-family: 'Questrial', sans-serif;
		}
	</style>
</head>
<body>
	<h1>My name is Geena Kim</h1>
	<h1>I'm from Socal (Irvine)</h1>
	<h1>I'm a sophomore</h1>
	<h1>..and I'm excited to learn more about web development!</h1>
</body>
</html>